.dashboard-column
  %h4 Story Queue
  %ul.droppable#queue
    - @project.tasks.any_in(phase: [nil, "queue"]).order_by([[:rank, :asc]]).limit(5).each do |task|
      %li.ui-widget-content.card.ui-corner-all{id: "#{task.id}"}
        %h3.ui-widget-header.ui-corner-all= link_to "##{task.number} #{task.name}", task
        %p= task.description
        %span.bottom-right-corner= task.estimate

.dashboard-column
  %h4 Elaboration
  %ul.droppable#elaboration
    - @project.tasks.where(phase: "elaboration").order_by([[:rank, :asc]]).limit(2).each do |task|
      %li.ui-widget-content.card.ui-corner-all{id: "#{task.id}"}
        %h3.ui-widget-header.ui-corner-all= link_to "##{task.number} #{task.name}", task
        %p= task.description
        %span.bottom-right-corner= task.estimate
          
.dashboard-column
  %h4 Development
  %ul.droppable#development
    - @project.tasks.where(phase: "development").order_by([[:rank, :asc]]).limit(1).each do |task|
      %li.ui-widget-content.card.ui-corner-all{id: "#{task.id}"}
        %h3.ui-widget-header.ui-corner-all= link_to "##{task.number} #{task.name}", task
        %p= task.description
        %span.bottom-right-corner= task.estimate

.dashboard-column
  %h4 Test
  %ul.droppable#test
    - @project.tasks.where(phase: "test").order_by([[:rank, :asc]]).limit(3).each do |task|
      %li.ui-widget-content.card.ui-corner-all{id: "#{task.id}"}
        %h3.ui-widget-header.ui-corner-all= link_to "##{task.number} #{task.name}", task
        %p= task.description
        %span.bottom-right-corner= task.estimate
          
.dashboard-column
  %h4 Deployment
  %ul.droppable#deployment
    - @project.tasks.where(phase: "deployment").order_by([[:rank, :asc]]).limit(1).each do |task|
      %li.ui-widget-content.card.ui-corner-all{id: "#{task.id}"}
        %h3.ui-widget-header.ui-corner-all= link_to "##{task.number} #{task.name}", task
        %p= task.description
        %span.bottom-right-corner= task.estimate

.dashboard-column.rightmost
  %h4 Done!
  %ul.droppable#done
    - @project.tasks.where(phase: "done").order_by([[:rank, :asc]]).each do |task|
      %li.ui-widget-content.card.ui-corner-all{id: "#{task.id}"}
        %h3.ui-widget-header.ui-corner-all= link_to "##{task.number} #{task.name}", task
        %p= task.description
        %span.bottom-right-corner= task.estimate