.dashboard-column
  %h4 Story Queue
  %ul.droppable#queue
    - @project.tasks.any_in(phase: [nil, "queue"]).order_by([[:rank, :asc]]).limit(5).each do |task|
      %li.ui-widget-content.card{id: "#{task.id}"}
        %h3.ui-widget-header= link_to "##{task.number} #{task.name}", task

.dashboard-column
  %h4 Elaboration
  %ul.droppable#elaboration
    - @project.tasks.where(phase: "elaboration").order_by([[:rank, :asc]]).limit(2).each do |task|
      %li.ui-state-default.card{id: "#{task.id}"}
        %span.left-edge= link_to "##{task.number}", task
        %span.main-content= link_to task.name, task
          
.dashboard-column
  %h4 Development
  %ul.droppable#development
    - @project.tasks.where(phase: "development").order_by([[:rank, :asc]]).limit(1).each do |task|
      %li.ui-state-default.card{id: "#{task.id}"}
        %span.left-edge= link_to "##{task.number}", task
        %span.main-content= link_to task.name, task

.dashboard-column
  %h4 Test
  %ul.droppable#test
    - @project.tasks.where(phase: "test").order_by([[:rank, :asc]]).limit(3).each do |task|
      %li.ui-state-default.card{id: "#{task.id}"}
        %span.left-edge= link_to "##{task.number}", task
        %span.main-content= link_to task.name, task
          
.dashboard-column
  %h4 Deployment
  %ul.droppable#deployment
    - @project.tasks.where(phase: "deployment").order_by([[:rank, :asc]]).limit(1).each do |task|
      %li.ui-state-default.card{id: "#{task.id}"}
        %span.left-edge= link_to "##{task.number}", task
        %span.main-content= link_to task.name, task

.dashboard-column.rightmost
  %h4 Done!
  %ul.droppable#done
    - @project.tasks.where(phase: "done").order_by([[:rank, :asc]]).each do |task|
      %li.ui-state-default.card{id: "#{task.id}"}
        %span.left-edge= link_to "##{task.number}", task
        %span.main-content= link_to task.name, task