.table-container
  %ul.sortable#prioritization-sort
    - @project.tasks.order_by([[:rank, :asc]]).each do |task|
      %li.ui-state-default.ui-corner-all{id: "#{task.id}"}
        %span.left-edge= link_to "##{task.number}", task
        %span.main-content= task.name
        %span.right-edge= task.estimate
  #new-task
    %a#new-task-link{href: "#", project:"#{@project.id}"} Create new task...
  #new-task-card
    %form
      .ui-widget-content.card.ui-corner-all
        %span.ui-widget-header.ui-corner-all
          %input#name{type: "text", placeholder: "Task name"}
          %input#estimate{type: "text", placeholder: "Estimate"}
        %span.main-content
          %textarea#description{placeholder: "Enter description of the task here..."}
        %span.bottom-right-corner
          %button#cancel Cancel
          %button#save Save