.ui-corner-all.ui-widget.ui-widget-content.project-header
  %table
    %tr
      %td Name:
      %td= @project.name
      %td Errbit project:
      %td= @project.errbit_project
    %tr
      %td Slug:
      %td= @project.slug
      %td Statusnet topic:
      %td= @project.statusnet_topic
    %tr
      %td Description:
      %td= @project.description
      %td Jenkins project:
      %td= @project.jenkins_project
    %tr
      %td Gitorious repo:
      %td= @project.gitorious_repo
      %td
      %td

#tab-container
  %ul
    %li
      %a{href: "#prioritization"}
        %span= "Prioritize Tasks"
    %li
      %a{href: "#dashboard"}
        %span= "Project Dashboard"
    %li
      %a{href: "#rolebased"}
        %span= "Role Focus"
  #prioritization= render("prioritization")
  #dashboard= render("dashboard")
  #rolebased