%p#notice= notice

%p
  %b Name:
  = @version.name
%p
  %b Slug:
  = @version.slug
%p
  %b Release date:
  = @version.release_date

= link_to 'Edit', edit_version_path(@version)
\|
= link_to 'Back', versions_path
