%h1 Listing iterations

%table
  %tr
    %th Name
    %th Slug
    %th Start date
    %th End date
    %th
    %th
    %th

  - @iterations.each do |iteration|
    %tr
      %td= iteration.name
      %td= iteration.slug
      %td= iteration.start_date
      %td= iteration.end_date
      %td= link_to 'Show', iteration
      %td= link_to 'Edit', edit_iteration_path(iteration)
      %td= link_to 'Destroy', iteration, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Iteration', new_iteration_path
